// container
$containerPaddingS: 1.6rem;
$containerPaddingM: 2.4rem;
$containerPadding: 4rem;


// base
$white: #ffffff;
$black: #000000;
$transparent: rgba(0, 0, 0, .0);


// Fonts
$primary-font: 'AcuminPro';
$secondary-font: 'HelveticaNeue';

